<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Добавить</h2>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div th:if="${message}" class="alert alert-warning text-center" role="alert">
                        <strong th:text="${message}"></strong>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="block-content">
                <form action="/humans/add/" method="post">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <input class="form-control" type="text" required name="username" placeholder="Логин">
                        </div>
                        <div class="col">
                            <input class="form-control" type="password" required name="password" placeholder="Пароль">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<footer th:insert="blocks/footer :: footer" class="page-footer dark mt-auto"></footer>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>