<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Рейтинг сотрудников</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Рейтинг сотрудников</h2>
            </div>
            <div class="block-content">
                <div class="row">
                    <div class="col">
                        <div hidden>
                            <span id="topQuantityName0" th:text="${topQuantityName[0]}"></span>
                            <span id="topQuantityNumber0" th:text="${topQuantityNumber[0]}"></span>
                            <span id="topQuantityName1" th:text="${topQuantityName[1]}"></span>
                            <span id="topQuantityNumber1" th:text="${topQuantityNumber[1]}"></span>
                            <span id="topQuantityName2" th:text="${topQuantityName[2]}"></span>
                            <span id="topQuantityNumber2" th:text="${topQuantityNumber[2]}"></span>
                            <span id="topQuantityName3" th:text="${topQuantityName[3]}"></span>
                            <span id="topQuantityNumber3" th:text="${topQuantityNumber[3]}"></span>
                            <span id="topQuantityName4" th:text="${topQuantityName[4]}"></span>
                            <span id="topQuantityNumber4" th:text="${topQuantityNumber[4]}"></span>
                        </div>
                        <div class="col">
                            <div id="topQuantity" style="width: 100%; height: 500px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><p class="lead">Семейное положение</p></div>
                </div>
                <div class="row">
                    <div th:each="i : ${maritals}" class="col-auto">
                        <p th:text="${i.getKey() + ' - ' + i.getValue()}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><p class="lead">Место рождения</p></div>
                </div>
                <div class="row">
                    <div th:each="i : ${origins}" class="col-auto">
                        <p th:text="${i.getKey() + ' - ' + i.getValue()}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><p class="lead">Гражданство</p></div>
                </div>
                <div class="row">
                    <div th:each="i : ${citizenships}" class="col-auto">
                        <p th:text="${i.getKey() + ' - ' + i.getValue()}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><p class="lead">Пенсионер</p></div>
                </div>
                <div class="row">
                    <div th:each="i : ${retirees}" class="col-auto">
                        <p th:text="${i.getKey() + ' - ' + i.getValue()}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><p class="lead">Военнообязанный</p></div>
                </div>
                <div class="row">
                    <div th:each="i : ${conscripteds}" class="col-auto">
                        <p th:text="${i.getKey() + ' - ' + i.getValue()}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><p class="lead">Инвалидность</p></div>
                </div>
                <div class="row">
                    <div th:each="i : ${disabilities}" class="col-auto">
                        <p th:text="${i.getKey() + ' - ' + i.getValue()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="blocks/footer :: footer" class="page-footer dark mt-auto"></footer>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(topQuantity);

    function topQuantity() {
        var topQuantityName0 = document.querySelector('#topQuantityName0').textContent;
        var topQuantityNumber0 = parseInt(document.querySelector('#topQuantityNumber0').textContent);
        var topQuantityName1 = document.querySelector('#topQuantityName1').textContent;
        var topQuantityNumber1 = parseInt(document.querySelector('#topQuantityNumber1').textContent);
        var topQuantityName2 = document.querySelector('#topQuantityName2').textContent;
        var topQuantityNumber2 = parseInt(document.querySelector('#topQuantityNumber2').textContent);
        var topQuantityName3 = document.querySelector('#topQuantityName3').textContent;
        var topQuantityNumber3 = parseInt(document.querySelector('#topQuantityNumber3').textContent);
        var topQuantityName4 = document.querySelector('#topQuantityName4').textContent;
        var topQuantityNumber4 = parseInt(document.querySelector('#topQuantityNumber4').textContent);
        var data = google.visualization.arrayToDataTable([
            ['ФИО', 'Баллов', {role: 'style'}, {role: 'annotation'}],
            [topQuantityName0, topQuantityNumber0, "red", topQuantityNumber0],
            [topQuantityName1, topQuantityNumber1, "brown", topQuantityNumber1],
            [topQuantityName2, topQuantityNumber2, "green", topQuantityNumber2],
            [topQuantityName3, topQuantityNumber3, "blue", topQuantityNumber3],
            [topQuantityName4, topQuantityNumber4, "purple", topQuantityNumber4],
        ]);

        var options = {
            title: 'Топ-5 сотрудников',
            hAxis: {title: 'ФИО'},
            vAxis: {title: 'Баллов'},
            bar: {groupWidth: "80%"},
            legend: {position: "none"}
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('topQuantity'));
        chart.draw(data, options);
    }

</script>

<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>